<article class="max-w-xs">
        <a [routerLink]="['/post', post.id]" class="relative inline-block">
          <img src="../../../assets/images/post-banners/{{post.banner | slice: -16}}" class="mb-5 rounded-lg" alt="Image 1">
          <span
            [ngClass]="status ? 'read' : 'not-read'"
            class="bg-red-600 absolute top-2 right-2 event-pointer text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded text-white">Already read</span>
        </a>
        <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
          <a [routerLink]="['/post', post.id]">{{post.title}}</a>
        </h2>
<!--        <button (click)='pauseTimer()'>Pause</button>-->
        <p class="mb-4 font-light text-gray-500 dark:text-gray-400" [innerHTML]="post.text"></p>
        <p class="mb-4 font-light text-gray-500 dark:text-gray-400">{{localTimerWords}}</p>
        <a [routerLink]="['/post', post.id]" (click)="startTimer('scroll-top')" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline">
          Read
        </a>
      </article>
