<img
  *ngIf="loading"
  src="../../../assets/images/icons/loading.svg"
  alt="loading-icon"
  class="loading">

<form class="search-buttons">
  <div class="filter">
    <app-icon-button
      class="filter-button"
      title="Filter title"
      (click)="searchField='title'"
      color="blue"></app-icon-button>
    <app-icon-button
      class="filter-button"
      title="Filter author"
      (click)="searchField='author'"
      color="blue"></app-icon-button>
    <app-icon-button
      icon="filter"
      class="filter-button"
      title="Filter category"
      (click)="searchField='category'"
      color="blue"></app-icon-button>
    <input
      type="search"
      placeholder="Type to search"
      size="50"
      name="searchInput"
      [(ngModel)]="searchInput">
  </div>
</form>

<aside aria-label="Related articles" class="py-8 lg:py-24 bg-gray-50 dark:bg-gray-800">
  <div class="px-4 mx-auto max-w-screen-xl">
    <h2 class="mb-8 text-2xl font-bold text-gray-900 dark:text-white">All posts</h2>
    <div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-4" >
      <articl
        class="max-w-xs banner"
        *ngFor="let post of posts| searchFilter: searchInput : searchField; trackBy: identify; let ind = index"
      >
        <img src="../../../assets/post-banners/{{post.banner | slice: -16}}" alt="{{post.title}}">
        <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
          <a href="#">{{post.title}}</a>
        </h2>
        <p [innerHTML]="post.text | limitSymbols:100" class="mb-4 font-light text-gray-500 dark:text-gray-400"></p>
        <p>{{post.author}}</p>
        <p>{{post.category}}</p>
        <p>{{post.date | date: 'MMMM dd yyyy HH mm'}}</p>
        <app-icon-button
          icon="filter"
          class="filter-button"
          title="Edit"
          [routerLink]="['/admin', 'post', post.id, 'edit']"
          color="blue"></app-icon-button>
        <app-icon-button
          (click)="remove(post.id)"
          class="filter-button"
          color="blue"
          icon="filter"
          title="Delete"></app-icon-button>
      </articl>
    </div>
  </div>
</aside>
