<div id="banner"
     appStyle="red"
     *ngIf="statusBanner"
     tabindex="-1"
     class="hidden-banner fixed top-0 z-50 gap-8 justify-between items-start py-3 px-4 w-full border border-b border-gray-200 sm:items-center dark:border-gray-700 lg:py-4 dark:bg-gray-800"
      [ngClass]="{
      'banner-success': typeBanner === 'success',
      'banner-error': typeBanner === 'error',
      'banner-warning': typeBanner === 'warning'
      }">
  <p class="text-sm font-light text-white-500 dark:text-gray-400">{{infoText}}</p>
  <button
    (click)="closeBanner()"
    data-collapse-toggle="banner"
    type="button"
    class="flex items-center text-white-400 hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 dark:hover:bg-gray-600 dark:hover:text-white">
      <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0              01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd">
        </path>
      </svg>
  </button>
</div>
